django==1.11.20
django-registration==2.3
Pillow
django-bootstrap-form==3.2.1
mysqlclient
bcrypt
#django-ajax-selects==1.6.0
django-cruds-adminlte
async_notifications==0.1.5
django-ckeditor
celery==4.2.0
django-celery-beat==1.1.0
django-celery-results==1.0.4
xhtml2pdf
