Django==3.1.5
django-registration == 3.1.1
Pillow==8.1.0
django-bootstrap-form==3.4
mysqlclient==2.0.3
bcrypt==3.2.0
#django-ajax-selects==1.6.0
async_notifications==0.1.24
django-ckeditor ==6.0.0
celery==5.0.5
django-celery-beat==2.1.0
django-celery-results==2.0.0
xhtml2pdf==0.2.5
django-markitup ==4.0.0
