django==3.2.12
django-registration==3.1.1
django-crispy-forms==1.10.0
Pillow
django-bootstrap-form==3.4
mysqlclient
bcrypt==3.2.0
async_notifications==0.1.24
django-ckeditor == 6.0.0
celery==5.0.5
django-celery-beat==2.1.0
django-celery-results==2.0.0
git+https://github.com/xhtml2pdf/xhtml2pdf
django-markitup==4.0.0 
django-paypal==1.0.0
django-simple-captcha==0.5.13
coverage==5.4
