{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load registro_charla %}
{% load static %}
{% block css %}
    <link href="{% static 'css/proposal.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="info-page">
        <h2> Temáticas </h2>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4" id="filterPanel">
            <div class="card">
                <div class="card-body">
                    <div class="inline-flex">
                        <h4> {% trans 'Topic' %} </h4>
                        <div class="add-activity">
                            <a data-toggle="modal" data-target="#topic-modal"
                               class="btn btn-info add-button pl-2"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row flex">
                        <div class="col-md-6 inline-flex">
                            <div class="col-2">
                                <span class="input-group-btn">
                                    <a style="height: 40px" data-toggle="modal" data-target="#type-modal"
                                       class="btn btn-info add-button">
                                        <i style="margin-top: 15px" class="fas fa-plus"></i></a>
                                </span>
                            </div>
                            <div class="col-9">
                                <select id="filterSpeechesType" class="btn sidebar-select btn-primary" style="height: 40px" name="type">
                                    <option selected value="all">{% trans 'Type' %}</option>
                                    {% for type in types %}
                                        <option time={{ type.time }} value={{ type.id }}>{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- START  Speeches Panel -->
                    <div class="jumbotron" id="draggable-events" style="padding: 0;">
                        <ul id="ul-topics-panel" class="nav nav-list nav-menu-list-style" style="width: 100%; padding: 0;">
                            {% for topic in topics %}
                                <li>
                                    <label class="tree-toggle glyphicon-icon-rpad">
                                        {{topic}}
                                        <span class="menu-collapsible-icon glyphicon glyphicon-chevron-down"></span>
                                    </label>
                                    <ul id="topic_speeches_{{topic.pk}}" class="connectedSortable droppable tree" style="width: 100%; padding: 0;">
                                    {% for speech in speeches %}
                                        {% if speech.topic.id == topic.id and speech.is_scheduled == False %}
                                        <li id="speech_{{ speech.speech_type.id }}" class="ui-state-default activity speech-type-filter" style="border-style: solid; width: 100%; padding: 0; margin-top: 5px;">
                                            <div class="row" style="margin: 5px 0px 5px 0px;"
                                                data-speech="{{ speech.pk }}" data-topic="{{topic.pk}}" data-color="{{ speech.topic.color }}"
                                                data-duration="{{ speech.speech_type.time }}" style="text-overflow: ellipsis;overflow: hidden;">
                                                <div class="col-sm-6 speech-text">
                                                    {{ speech }}
                                                </div>
                                                <div class="col-sm-6">
                                                    {{ speech.speech_type.time }} min - {{ speech.speech_type.name }}
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END  Speeches Panel -->
                    <br>
                    <div class="inline-flex">
                        <h4> {% trans 'Special Activities' %}</h4>
                        <!--<div class="add-activity">
                            <a data-toggle="modal" data-target="#special-modal"
                               class="btn btn-info add-button pl-2"><i class="fas fa-plus"></i></a>
                        </div>-->
                    </div>
                    <hr>
                    <div id="draggable-special-activities" class="jumbotron" style="padding: 0;">
                        <ul id="specials" class="connectedSortable droppable" style="width: 100%; padding: 0;">
                            {% for special in specialActivity %}
                                <li class="ui-state-default activity" style="border-style: solid; width: 100%; padding: 0; margin-top: 5px;">
                                    <div class="special-activity" style="margin: 5px 0px 5px 0px; text-overflow: ellipsis; overflow: hidden;"
                                         data-color="{{ speech.topic.color }}"
                                         data-duration="{{ special.type.time }}"
                                         data-special="{{ special.pk }}">
                                        {{ special }} / {{ special.type.time }} min
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="topic-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> {% trans 'New Speech Topic' %} </h4>
                                </div>
                                <div class="modal-body" style="text-align: center">
                                    <form method="post" id="createTopic-form">
                                        {% csrf_token %}
                                        <div class="alert alert-danger" id="wrongTopicFormAlert" role="alert" style="display: none; opacity: 75%"></div>
                                        <div class="jumbotron" style="display: inline-grid; overflow: hidden">
                                            {{ topicForm }}
                                            <hr>
                                            <input class="btn btn-info" type="submit" value="{% trans 'Save' %}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="type-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> {% trans 'New Speech Type' %}</h4>
                                </div>
                                <div class="modal-body" style="text-align: center">
                                    <form method="post" oninput="changeTimeValue(id_time.valueAsNumber)" id="createType-form">
                                        {% csrf_token %}
                                        <div class="alert alert-danger" id="wrongTypeFormAlert" role="alert" style="display: none; opacity: 75%"></div>
                                        <div class="jumbotron" style="display: inline-grid; overflow: hidden">
                                            {{ typeForm }}
                                            <output id="eventTimeValue" name="eventTimeValue" for="id_time" >60 min</output>
                                            <hr>
                                            <input class="btn btn-info" type="submit" value="{% trans 'Save' %}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="special-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{% trans 'New Special Activity' %}</h4>
                                </div>
                                <div class="modal-body" style="text-align: center">
                                    <form action="proposal/createSpecial/" method="post">
                                        {% csrf_token %}
                                        <div class="jumbotron" style="display: inline-grid;">
                                            {{ specialForm }}
                                            <hr>
                                            <input class="btn btn-info" type="submit" value="{% trans 'Save' %}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="calendar-container" >
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for room in rooms_list %}
                    <li class="nav-item">
                        <a class="nav-item nav-link room-tab" id="calendar-{{forloop.counter}}-tab" data-toggle="tab" data-room-id="{{room.id}}" data-num="{{forloop.counter}}" href="#calendar-{{forloop.counter}}" role="tab" aria-controls="calendar-{{forloop.counter}}" aria-selected="false">{{ room }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a id="addroom" href="#" data-toggle="modal" data-target="#room_modal">{% trans 'Add' %}</a>
                </li>
            </ul>
            <div class="tab-content" id="calendarContent">
                {% for room in rooms_list %}
                    <div class="full-calendar tab-pane fade" id="calendar-{{forloop.counter}}" role="tabpanel" aria-labelledby="calendar-{{forloop.counter}}-tab" data-start_date="{{start_date}}" data-end_date="{{ end_date }}"></div>
                {% endfor %}
            </div>
        </div>
        <div class="modal fade" role="dialog" id="room_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title text-center">{% trans 'Create Room' %}</h2>
                    </div>
                    <div class="modal-body">
                        <form name="roomForm" action="proposal/createRoom/" method="post">
                            {% csrf_token %}
                            {{ room_form|bootstrap }}
                            <input name="form_id" value="roomForm" hidden>
                            <br>
                            <div class="form-group text-center">
                                <input type="submit" name="action" class="btn btn-primary" value="{% trans 'Save Room' %}">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var save_url = "{% url 'proposal:events-list' %}";
        var delete_url = "{% url 'proposal:delete-events' %}";
        var scheduled_events = [];
        {% for event in scheduled_speeches %}
            scheduled_events.push({
                id: "{{event.pk}}",
                html_id: "{{event.html_id}}",
                title: "{{event.speech.title}}",
                color: "{{event.speech.topic.color}}",
                room: "{{event.room.pk}}",
                start_time: "{{event.start_time|date:"c"}}",
                end_time: "{{event.end_time|date:"c"}}",
                speech_id: "{{event.speech.pk}}",
                special_id: "{{event.special.pk}}",
                topic_id: "{{event.speech.topic.pk}}"
            });
        {% endfor %}
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var create_topic_url = "{% url 'proposal:create-topic' %}";
        var create_type_url = "{% url 'proposal:create-type' %}";
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.10.1,npm/fullcalendar@5.10.1/locales-all.min.js,npm/fullcalendar@5.10.1/locales-all.min.js,npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@5.5.0/main.global.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.10.1/main.min.css,npm/fullcalendar@5.10.1/main.min.css">
    <script src="{% static 'js/Blockschedule_list.js' %}"></script>
    <script src="{% static 'js/speeches_panel.js' %}"></script>
{% endblock %}