{% extends 'base.html' %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <h1>{% trans 'Login' %}</h1>



    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|bootstrap  }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </div>
    
      <input type="hidden" name="next" value="{{ next }}" />
      
    </form>
    <br>{% trans 'Having trouble logging in?' %}<br>
    <div class="btn-group">
      <a class="btn btn-info"  href="{% url 'django_registration_register' %}">{% trans 'Sign Up' %}</a>
      <a class="btn btn-danger" href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a>
    </div>
    </center>
  </div>

  </div>
   <br><br>
{% endblock %}
