{% extends 'base.html' %}
{% load i18n %}
{% load registro_charla %}

{% block content %}
<style>
.theader{
	text-decoration: blond;
	background-color: #98978b;
	padding: 10px 2px;
	text-align: center;
	color: #fff;
	margin-bottom: 5px;
}

.l2 {
	background-color: #f8f5f0;
	padding: 10px 0px;
	text-align: left;
}

.l1 {
	padding: 10px 0px;
	text-align: left;
}
</style>

<h2> Temáticas </h2>

<div class="row">
 <div class="col-md-1"></div>
{% for tipo in tipos %}
 <div class="col-md-2" style="color: {{tipo.color}}"> {{tipo.name }} </div>
{% endfor %}
</div>

<hr>

<ul class="nav nav-tabs">
  <li role="presentation" class="{% if dia == 1 %} active {% endif %}">
  <a href="{% url 'list_charlas' %}?dia=1">21 de julio</a></li>
  <li role="presentation" class="{% if dia == 2 %} active {% endif %}">
  <a href="{% url 'list_charlas' %}?dia=2"> 22 de julio</a></li>

</ul>
<br ><br>


<div class="row theader">
  <div class="col-md-2">Horario</div>
  <div class="col-md-6">Título</div>
  <div class="col-md-2">Salón</div>
  <div class="col-md-2">Registro</div>
</div>

	{% for obj in object_list %}
		<div class="row {% cycle 'l1' 'l2' %}">
		  <div class="col-md-2">{{ obj.start_time | date:"P" }} a {{ obj.end_time | date:"P" }}</div>
		  <div class="col-md-6">
		  	<p style="color:{{ obj.speech.topic.color}}">
				{{ obj.speech.speech_type.name }}
				</p>
			<a href="{% url 'detail_charla' obj.speech.pk %}" target="_blank"> {{ obj.speech.title }} </a>
		  </div>
		  <div class="col-md-2">{{ obj.room.name }}</div>
		  <div class="col-md-2">  {% get_registro obj as nreg%}  <a href="{{nreg.url}}"> {{nreg.message}} </a> </div>
		</div>	
	{% endfor %}

<br><br>
{% endblock %}