{% extends 'base.html' %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <h1>Login</h1>



    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|bootstrap  }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
    </div>
    
      <input type="hidden" name="next" value="{{ next }}" />
      
    </form>
    <center>
    <br>
    ¿Problemas con el ingreso ?<br>
    <div class="btn-group">
      <a class="btn btn-info"  href="{% url 'django_registration_register' %}">Registrarme</a>
      <a class="btn btn-danger" href="{% url 'password_reset' %}">¿Olvidó su clave ?</a>
    </div>
    </center>
  </div>

  </div>
   <br><br>
{% endblock %}
