{% extends 'base.html' %}
{% load bootstrap static %}
{% load i18n %}

{% block content %}
<div class="row">

<div class="col-md-6 ">

<div class="well">
<h1>Distribución de personas aceptando dinero</h1>
<p>
<div class="alert alert-danger"> * El encuentro es muy pronto y ya no estamos recibiendo pagos por envío de dinero, 
si usted no puede hacer el pago bancario, por favor comuniquese con la coordinación, para gestionar la forma de pago</div>

</div>
<br><br>
<div class="well">
<h1>Información bancaria detallada</h1>
<p><b>Nombre del banco:</b> Banco Nacional de Costa Rica</p>
<p>Dialogía de Información y Comunicación S.C.<br>

    <b>Cuenta IBAN (Internacional):</b> CR38015109620020034632<br>
    <b>Cuenta Banco Nacional (CR):</b> 200-02-096-003463-0<br>
    <b>Cuenta Cliente (CR):</b> 15109620020034632<br>
    <b>Cédula jurídica:</b> 3-106-562299<br>
</p>
<p><b>Cuenta a nombre de:</b> Dialogía de Información y Comunicación SC</p>
<p><b>Dirección postal de la oficina principal del banco:</b> Avenidas 1 y 3, calle 3. San José, Costa Rica.</p>
<p><b>SWIFT bic:</b> BNCRCRSJ</p>
<p>Datos del banco corresponsal o intermediario en USA</p>
<p><b>Nombre del Banco corresponsal:</b> Citibank</p>
<p><b>Dirección del banco corresponsal:</b> New York 339 Park Avenue New York, NY 10022. USA</p>
<p><b>Código ABA del corresponsal:</b> CITIUS33</p>
</div>


</div>


  <div class="col-md-6">  	<div>
  <h1>{% trans "Inscription Payment"%}</h1>
</div>

<div class="row">
    <label>Paypal</label>
<input type="checkbox" id="paypal"></input>



  <form method="post" action="" enctype="multipart/form-data">

      </br>
    {% csrf_token %}
    {{ form.package|bootstrap  }}
    <div id="form-A">
    {{ form.option|bootstrap  }}
    {{ form.codigo_de_referencia|bootstrap  }}
    {{ form.invoice|bootstrap  }}

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Registrarme</button>
    </div>
  </form>
</div>

<div id="form-B" style="display: none;">
    </br>
    <label>{% trans "Register with Paypal." %}</label>
    </br>
    <input type="button" class="btn btn-primary" onclick="selectedSubjectName()"  id='usePaypal' value="Paypal" />
</div>


</div>
</div>
</div>


{% endblock %}

{% block js %}
    <script>
        $('#paypal').change(function(){
                    if ($(this).is(":checked")) {
                        $("#form-A").hide();
                        $("#form-B").show();
                    } else {
                        $("#form-A").show();
                        $("#form-B").hide();
                    }
        });
    </script>
<script>
    function selectedSubjectName() {
      var subjectIdNode = document.getElementById('id_package');
      var value = subjectIdNode.options[subjectIdNode.selectedIndex].text;
      console.log("The selected value=" + value);
      url = "{% url "process_payment"  999 %}".replace(999,value)
      document.location.href= url
   }

</script>
{% endblock %}